<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  </h1>
  <img width="300" alt="slimPicture" align=center src="https://media.giphy.com/media/rdM8ZI5eKFirm/giphy.gif">
</div>
<h2>Please upload your pic and details not to get detected as SLIM SHADYYY</h2>
<app-upload-form></app-upload-form>
<br>
<h3>but You have to be current EQUIFAX EMPLOYEE </h3>
<footer>
  <div style="text-align:left">
    Production by Monthy Python Aka Slim Shady Team
  </div>
  <img width="50" alt="teamPic" src="https://confluence.equifax.com/download/attachments/265458404/TeamWithSlim.png?version=1&modificationDate=1529597059000&api=v2">
</footer>
